i {
    margin-top: 40px;
    position: relative;
    display: block;
    width: 100%;
    height: 482px;
    overflow: hidden;
    border-radius: 5px;
  }
  
  @media screen and (max-width: 720px) {
    /* Дополнительные стили для мобильных устройств */
    i {
    margin-top: 40px;
    position: relative;
    display: block;
    width: 720px;
    height: 600px;
    overflow: hidden;
    border-radius: 5px;
    }
  }
  
  i:before, i:after {
    content: '⥪';
    position: absolute;
    top: 50%;
    left: 1rem;
    z-index: 2;
    width: 2rem;
    height: 2rem;
    background: rgba(30, 143, 255, 0);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }
  
  i:after {
    content: '⥭';
    left: auto;
    right: 1rem;
  }
  
  input {
    cursor: pointer;
    appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translateX(100%);
    transition: transform ease-in-out 400ms;
    z-index: 1;
  }
  
  input:focus {
    outline: none;
  }
  
  input:not(checked):before {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    top: 50%;
    left: calc(-100% + 1rem);
  }
  
  input:checked:before {
    display: none;
    left: 1rem;
  }
  
  input:checked {
    transform: translateX(0);
    z-index: 0;
    box-shadow: -5px 10px 20px -15px rgba(0,0,0,1);
  }
  
  input:checked + input:before {
    left: -3rem;
  }
  
  input:checked + input ~ input:before {
    display: none;
  }